.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 50px;
}

.Header a {
    text-decoration: none;
    font-size: 25px;
    color: snow;
}

.Header a:hover {
    text-decoration: underline;
    color: yellow;
}

.Header a[class='active'] {
    color: red;
}